nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 20px;
    padding: 0 10px;
}
nav li:hover{
    background-color: chocolate;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav > ul > li:hover > ul{
    display: block;
}
.drop-down{
    display: none;
    position: absolute;
    background-color: lightcyan;
    padding: 0;
}

.drop-down li{
    padding: 0 20px;
    margin: 0;
}